
<div class="row">
        <div class="col-md-4" *ngFor="let p of products | productFilter:queryParams" style="margin-bottom: 40px;">
          <div class="card">
              <img class="card-img-top" [src]="p.payload.val().imagePath" style="height: 170px;">
              <div class="card-body">
                <h5 class="card-title">{{p.payload.val().name}}</h5>
                <p class="card-text">{{p.payload.val().price}}</p>
              </div>
              <div class="card-footer" style="padding: 0px !important">
                <button 
                class=" btn btn-primary" 
                style="width: 100%;margin: 0px;"
                (click)="addToCart(p)"
                >Add to Cart</button>
              </div>
            </div>
          </div>
      </div>